/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

 .white{
  background-color:#7B68EE;
 }
nav ul a,
nav .brand-logo {
  color: white;
}

hr{
  background-color: #7B68EE;
  width: 100%;
  height: 5px;
  background: linear-gradient(60deg, rgba(123, 104, 238, 0.99), #57e2db);
}

p {
  line-height: 2rem;
  color: black;
}

h5{
  font-size: 20px;

}
.sidenav-trigger {
  color: #26a69a;
}
.equipe{
    width: 100%;
    
} 

h4{
  color: black;
}

.parallax-container {
  min-height: 380px;
  line-height: 0;
  height: auto;
  color: rgba(255,255,255,.9);
}
  .parallax-container .section {
    width: 100%;
  }
#imgresumo{
  margin-top: -20px;
}


#img1 { 
  width: 70%;
	height: 70%;
	position: relative;
  cursor: default;
  max-width: 100%;
	-moz-transition: all 0.3s;
	-webkit-transition: all 0.3s;
  transition: all 0.3s;
  opacity: 0.1;
  border: 3px solid #7B68EE;
	
}

#img1:hover  {
	-moz-transform: scale(1.1);
	-webkit-transform: scale(1.1);
  transform: scale(1.1);
  opacity: 1;
 
}

#img2 { 
  width: 70%;
	height: 70%;
	position: relative;
  cursor: default;
  max-width: 100%;
	-moz-transition: all 0.3s;
	-webkit-transition: all 0.3s;
  transition: all 0.3s;
  opacity: 0.1;
  border: 3px solid #7B68EE;
}
#img2:hover  {
	-moz-transform: scale(1.1);
	-webkit-transform: scale(1.1);
  transform: scale(1.1);
  opacity: 1;
}

#img3 { 
  width: 70%;
	height: 70%;
	position: relative;
  cursor: default;
  max-width: 100%;
	-moz-transition: all 0.3s;
	-webkit-transition: all 0.3s;
  transition: all 0.3s;
  opacity: 0.1;
  border: 3px solid #7B68EE;
}  

#img3:hover  {
	-moz-transform: scale(1.1);
	-webkit-transform: scale(1.1);
  transform: scale(1.1);
  opacity: 1;
  
}
#resumoprojeto{
  font-size: 18px;
  text-align: justify;
}

@media only screen and (max-width : 992px) {
  .parallax-container .section {
    position: absolute;
    top: 40%;
  }
  #index-banner .section {
    top: 10%;
  }
}

@media only screen and (max-width : 600px) {
  #index-banner .section {
    top: 0;
  }
}

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
  font-size: inherit;
}

footer.page-footer {
  margin: 0;
}
